In [1]:
from datetime import time

In [2]:
local_time = time(hour=8,minute=23,second=15)
local_time

datetime.time(8, 23, 15)

In [3]:
type(local_time)

datetime.time

In [4]:
local_time.hour

8

In [7]:
local_time.minute

23

In [5]:
local_time.second

15

In [8]:
print(local_time)

08:23:15

In [14]:
local_time2 = time(23)

In [15]:
print(local_time2)

23:00:00

# working with the datetime class

In [16]:
from datetime import datetime

In [23]:
my_datetime = datetime(year=2017,month=8,day=12,hour=23,minute=20,second=59) # you must keep that order
my_datetime

datetime.datetime(2017, 8, 12, 23, 20, 59)

In [24]:
print(my_datetime)

2017-08-12 23:20:59

In [30]:
# to replace one of the values
my_datetime = my_datetime.replace(minute=8, second=15,microsecond=120000)

In [31]:
print(my_datetime)

2017-08-12 23:08:15.120000

# converting datetime objects into strings

In [32]:
from datetime import date, datetime

In [33]:
my_date = date(2021,2,20)
my_date

datetime.date(2021, 2, 20)

In [50]:
my_date.strftime('Today is %B %d, %Y')

'Today is February 20, 2021'

# convert string into datetime object

In [51]:
string_to_datetime = '10:30:55 2021-Feb-2'

In [52]:
date_object = datetime.strptime(string_to_datetime,'%H:%M:%S %Y-%b-%d') # must specify how is the original string formatted to get the date time
date_object

datetime.datetime(2021, 2, 2, 10, 30, 55)

In [53]:
print(date_object)

2021-02-02 10:30:55

In [54]:
type(string_to_datetime)

str

In [55]:
type(date_object)

datetime.datetime