In [ ]:
import numpy as np

## Question 31

### Load the dataset

In [ ]:
my_dataset =

### Find the mean of each column

In [ ]:
mean_real_estate = ''' Eneter your code here. '''

### Separate the text columns from the numeric columns

In [ ]:
numeric_cols_real_estate = ''' Enter your code here. '''
text_cols_real_estate = ''' Enter your code here. '''

### Load again the 'Real_estate(cleaned).csv' into 2 new variables. Separate the columns from the database according to the indices stored in the variables above. Skip the header. Store the text data as dtype = str.

In [ ]:
numeric_real_estate = ''' Eneter your code here. '''
text_real_estate = ''' Eneter your code here. '''

### Choose the method that would best combine the 'date_sale' and 'price ($)' columns in a new array called date_price

In [ ]:
date_price = np.''' Eneter your code here. '''((text_real_estate[:,2], numeric_real_estate[:,2]), axis=-1)

### Find the income for the dates of interest:

In [ ]:
income = 0
''' Enter your code here. '''

### Print the income variable

In [ ]:
print(income)

## Question 32

In [ ]:
new_dates = np.______(text_real_estate[:,2])

for i in range(text_real_estate[:,2].shape[0]):
    new_dates[i] = np.where(
        text_real_estate[:,2][i] != ______,
        'Jan-' + text_real_estate[:,2][i][ ______ : len(text_real_estate[:,2][i]) ],
        ______
    )

In [ ]:
print(new_dates)

## Question 33

### Define the arrays

In [ ]:
western_states = np.array(['Arizona', 'California', 'Colorado', 'Nevada', 'Oregon', 'Utah', 'Wyoming'])
midwestern_states = np.array(['Kansas'])
southeastern_states = np.array(['Virginia'])

### Substitute each state with the label of the group it belongs to

In [ ]:
text_real_estate[:,13] = np.''' Eneter your code here. '''(np.''' Eneter your code here. '''(text_real_estate[:,13], western_states), 0, text_real_estate[:,13])
text_real_estate[:,13] = np.''' Eneter your code here. '''(np.''' Eneter your code here. '''(text_real_estate[:,13], midwestern_states), 1, text_real_estate[:,13])
text_real_estate[:,13] = np.''' Eneter your code here. '''(np.''' Eneter your code here. '''(text_real_estate[:,13], southeastern_states), 2, text_real_estate[:,13])
text_real_estate[:,13] = np.''' Eneter your code here. '''(text_real_estate[:,13] == '', 'nan', text_real_estate[:,13])

### Find the number of times the values '0' and '2' appear in the transformed column

In [ ]:
np.unique(text_real_estate[:,13], ''' Enter your code here. ''')

## Question 34

### Load the dataset

In [ ]:
my_dataset2 = ''' Enter your code here. '''

### Find the mean of each column

In [ ]:
mean_hr = ''' Eneter your code here. '''

### Separate the text columns from the numeric columns

In [ ]:
numeric_cols_hr = ''' Enter your code here. '''
text_cols_hr = ''' Enter your code here. '''

### Load again the 'HR_Analytics.csv' into 2 new variables. Separate the columns from the database according to the indices stored in the variables above. Skip the header. Store the text data as dtype = str.

In [ ]:
numeric_hr = ''' Eneter your code here. '''
text_hr = ''' Eneter your code here. '''

### Stack the education_level and training_hours columns in an array called education_training.

In [ ]:
education_training = np.stack((text_hr[:,4], numeric_hr[:,-1]), axis=-1)
education_training[:,0] = np.where(
    education_training[:,0] == 'Masters' & education_training[:,0] == 'PhD',
    2,
    education_training[:,0]
)

## Question 35

### Create a histogram

In [ ]:
np.histogram(''' Enter your code here. ''')

### Display the percentiles

In [ ]:
''' Enter your code here. '''

## Question 36

### Load again the 'Real_estate(cleaned).csv'. Import the company_size column. Skip the header. Store the text data as dtype = str.

In [ ]:
company_size = ''' Eneter your code here. '''

In [ ]:
np.unique(company_size)

In [ ]:
company_size=np.where(''' Enter your code here. ''')
company_size=np.where(''' Enter your code here. ''')
company_size=np.where(''' Enter your code here. ''')
company_size=np.where(''' Enter your code here. ''')
company_size=np.where(''' Enter your code here. ''')

### Choose the method that would best combine the 'education_level' and 'size_company' columns in a new array called date_price

In [ ]:
education_size=np.''' Eneter your code here. '''((text_hr[:,4], company_size),axis=-1)

### Find the respective number of employees

In [ ]:
print('Number of employees with PhD degree working in companies with a number of employees larger than 5000:')
print(''' Enter your code here. ''')

print('Number of employees with Master degree working in companies with a number of employees larger than 5000:')
print(''' Enter your code here. ''')